{% extends 'flower/main.html' %}
{% load static %}
{% block container %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact us</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <div class="payment">
        <p>❀УСЛОВИЯ ДОСТАВКИ И ОПЛАТЫ</p>
        <p>Доставка осуществляется только по предоплате. Мы работаем с 9-00 до 19-00, заказы сделанные и оплаченные в рабочее время доставляем круглосуточно. </p>
        <p>📦СПОСОБЫ ДОСТАВКИ:</p>
        <p>Самовывоз (Только для Алматы, предоплата 100%)</p>
        <p> Самовывоз возможен только после 100% предоплаты, свяжитесь с нашими менеджерами. Самовывоз производится только в Алматы</p>
        <p>Курьер-Экспресс (Только для Алматы)</p>
        <p> Стоимость доставки 1000.00 Тг . Заказ на сумму свыше 30000 Тг доставляется бесплатно. Доставка цветов Алматы, Стоимость доставки в черте города, квадрат улиц Аль-Фараби - Саина - Рыскулова - Ленина, 1000тг, вне этого квадрата сумма доставки обсуждается с оператором. Согласовывайте доставку с менеджерами минимум за 2 часа. </p>
        <p> 💳СПОСОБЫ ОПЛАТЫ:</p>
        <p> Платёжными картами VISA (Цена на сайте для Алматы)</p>
        <p> Предварительно свяжитесь с оператором, в целях безопасности платежей номер карты не указывается на сайте. </p>
        <p> Терминалы QIWI (Цена на сайте для Алматы)</p>
        <p> Предварительно свяжитесь с оператором, в целях безопасности платежей номер QIWI-кошелька не указывается на сайте.</p>
        <p> Онлайн Оплата заказа (Цена на сайте для Алматы)</p>
        <p>Вы можете оплатить заказ не отходя от своего компьютера, а также с мобильного телефона, планшета и ноутбука. Для онлайн оплаты заказа, свяжитесь с нашими менеджерами, +7-777-777-77-77 (звонки, WhatsApp) и мы выставит вам счёт на оплату</p>
    </div>
    </html>
{% endblock container %}

